/* all custom stylesheets goes here */

.locker-image img {
    width: 100%;
}
div#lockerSelector .card-panel .row .col {
    padding: 2px;
}

div#lockerSelector .card-panel .row {
    margin-bottom: 5px;
}
div#lockerFrame {
    border: 1px solid #ccc;
    min-height: 100px;
    width: 200px;
    margin: 0 auto;
    margin-top: 100px;
    background: #fbfbfb;
}

div#lockerSelector {
    margin-top: 100px;
}